# Conditional statement

- I want do something based on some condition

- I will go say hello if i know you

- I want to go to class if no rain

- if no rain then i will go to class otherwise i will go to movie 

     -  if no rain then i will go to class else i will go to movi

- if i pass in firstclass i will study MBA in usa
 otherwise if i pass in second class i will study in good collage india
 otherwise i will study in my town

- if i pass in firstclass i will study MBA in usa
 elif i pass in second class i will study in good collage india
 else i will study in my town

- if i pass in firstclass i will study MBA in usa
 otherwise if i pass in second class i will study in good collage india
 otherwise i will study in my town
 otherwise papa se belt treatment

# if

In [ ]:
if <condition>:
    <code>
    <code>

if=== condition ====: ==== indentation

In [2]:
10>0

True

In [3]:
10<0

False

In [4]:
10>=0

True

In [5]:
10<=0

False

In [6]:
10=10  # assine

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (2141414912.py, line 1)

In [7]:
10==10  # condition

True

In [8]:
10!=0

True

In [9]:
10!=10

False

In [10]:
if 10>0:           # if true
    print('hello')

hello

In [11]:
if 10<0:            # if false
    print('hello')

**mistake-1**

In [12]:
if 10>0:
print ('hello')

IndentationError: expected an indented block after 'if' statement on line 1 (2207359557.py, line 2)

In [13]:
if 10>0:
    print ('hello')

hello

**mestak-2**

In [14]:
if 10>0
  print('hello')

SyntaxError: expected ':' (1034049102.py, line 1)

In [1]:
if 10>0:
    print('hello')

hello

**mestake-3**

In [15]:
if 10>0:
    print('hello')
     print('hi')

IndentationError: unexpected indent (1679834486.py, line 3)

In [16]:
if 10>0:
    print('hello')
    print('hi')

hello
hi

In [17]:
if 10>0:
    print('hello')
    print('hi')
    print('im good')

hello
hi
im good

In [10]:
if 10>0:             # if true
    print('hello')
    print('hi')
    print('im good')
  print('wow')

IndentationError: unindent does not match any outer indentation level (<string>, line 5)

In [20]:
if 10>0:            # if true
    print('hello')
    print('hi')
    print('im good')
print('wow')

hello
hi
im good
wow

In [21]:
print('hey')     # hey
if 10>0:            # if true
    print('hello')  # hello
    print('hi')    # hi
    if 20>10:   # if true
    print('im good')  # im good
print('wow')        # wow

IndentationError: expected an indented block after 'if' statement on line 5 (1025662832.py, line 6)

In [22]:
print('hey')     # hey
if 10>0:            # if true
    print('hello')  # hello
    print('hi')    # hi
    if 20>10:   # if true
          print('im good')  # im good
print('wow')        # wow

hey
hello
hi
im good
wow

In [23]:
print('hey')     
if True:            
    print('hello')  
    print('hi')    
    if true:   # if true
          print('im good')  
print('wow')

hey
hello
hi

NameError: name 'true' is not defined

In [24]:
print('hey')     
if False:            
    print('hello')  
    print('hi')    
    if false:
        print('im good') 
print('wow')

hey
wow

In [25]:
print('hey')     
if True:            
    print('hello')  
    print('hi')    
    if False:
        print('wow')

hey
hello
hi

In [26]:
print('hey')     
if True:            
    print('hello')  
    print('hi')    
    if False:
        print('im good')
        if True:
            print('super')
print('WOW')

hey
hello
hi
WOW

In [27]:
print('company transfer')
if False:
    print('take over')
    print('company transfer')
    if False:
       print('take over')
       print('company transfer')
    if False:
         print('take over')
         print('company transfer')

print('happy family')

company transfer
happy family

In [28]:
print('company transfer')
if True:
    print('take over')
    print('company transfer')
    if True:
       print('take over')
       print('company transfer')
    if True:
         print('take over')
         print('company transfer')

print('avg family')

company transfer
take over
company transfer
take over
company transfer
take over
company transfer
avg family

In [29]:
print('company transfer')
if False:
    print('take over')
    print('company transfer')
    if False:
       print('take over')
       print('company transfer')
    if False:
         print('take over')
         print('company transfer')

print('old avg home')

company transfer
old avg home

In [30]:
if True: 
    a=10
    b=20
    c=a+b
    print(c)

30

In [31]:
if True:
    pass

In [32]:
if True: 
    break

SyntaxError: 'break' outside loop (4080314658.py, line 2)

**if-else**

- if will be activated when condition True

- else will be activated when condition False

In [33]:
if True:                   # if correct ====> hello
    print('Hello')
else:
    print('Bye')

Hello

In [34]:
if 10<0:                   # condition wron =====> bye
    print('Hello')
else:
    print('Bye')

Bye

In [35]:
print(1)
print(2)
#--------------------------------------------------------------
if True:
    print('Hello')
else:
    print('Bye')
#------------------------------------------------------
print(3)

1
2
Hello
3

In [36]:
print(1)
print(2)
#--------------------------------------------------------------
if True:
    print('Hello')
    if True:
        print('good')
else:
    print('Bye')
#------------------------------------------------------
print(3)

1
2
Hello
good
3

In [37]:
print(1)
print(2)
#--------------------------------------------------------------
if 10>0:
    print('Hello')
    if False:
        print('good')
    else: 
        ('avg')
else:
    print('Bye')
#------------------------------------------------------
print(3)

1
2
Hello
3

In [38]:
print(1)
print(2)
#--------------------------------------------------------------
if 10<0:
    print('Hello')
    if True:
        print('good')
    else:
     print('avg')
else:
    print('Bye')
    if 2==2:
        print('okey')
#------------------------------------------------------
print(3)

1
2
Bye
okey
3

In [39]:
print(1)
print(2)
#--------------------------------------------------------------
if 10>0:
    print('Hello')
    print('why are you in midd')
else:
    print('Bye')
#------------------------------------------------------
print(3)

1
2
Hello
why are you in midd
3

**Questions**

In [40]:
# Wap ask the user take a  number and find it is evan or odd
# idea
# num=eval()
# if <con>:
#   print('even')
# else:
#   print('old')

# condition: any number given reminder zero if we divide by 2

In [41]:
11/2

5.5

In [42]:
11%2  # reminder

1

In [43]:
11//2   # floor division

5

In [51]:
 num=eval(input('enter number'))
if num%2==0:
   print(f'the {num} is an even')
 else:
   print(f' the {num} is an odd')

enter number 27

 the 27 is an odd

In [52]:
 num=eval(input('enter number'))
if num%2==0:
   print(f'the {num} is an even')
 else:
   print(f' the {num} is an odd')

enter number 21

 the 21 is an odd

- always think like how can l provide value

     - herd codes

     - from keyboard

     - random

In [ ]:
num=100
if num%2==0
      print(f'the {num} is an even')
else:
      print(f'the {num} is an old')

num=evel(input('enter number:'))
if num%2==0:
    print(f'the {num} is an even')
else:
    print(f'the {num} is an odd')


import random
num=random.randint(1,100)
if num%2==0:
    print(f'the {num} is an even')
else:
    print(f'the{num} is an odd')

In [ ]:
# Q3) wap ask a number from user
#    print postive if it is greate than zero
#    otherwise print negative
# idea:
# num=evel()
# if <con>:
#   print ('postive')
# else:
#   print('negative')

In [47]:
num=eval(input('enter the number:'))
if num>=0:
    print(f'{num} is +ve')
else:
    print(f'{num} is -ve')

enter the number: 12

12 is +ve

In [ ]:
# Q4) 
#wap ask the user enter  a number  
#if it is greater than or equal ti zero 10  
#      if num>0
#         print(+)
#      else:
#         print(zero)
#otherwise print negative

In [53]:
num=eval(input('enter the number:'))
if num>=0:
    if num>0:
        print(f'{num} is +ve')
    else:
        print('It is a zero')
else:
    print(f'{num} is -ve')

enter the number: 0

It is a zero

In [ ]:
# Q5) casino play

# wap ask the user  enter a number n1
# get a random number between 1 to 10 n2
#  if n1 equle to n2
# print won
# other wise print katam

In [54]:
import random
n1=random.randint(1,10)
print(n1)
n2=eval(input('enter a number between 1-10:'))
if n1==n2:
    print('you won')
else:
    print('you lost')

3

enter a number between 1-10: 4

you lost

In [55]:
# original_pwd= 'Shreyansh123'
user_pwd=input('enter your pwd')
if original_pwd==user_pwd:
    print('successfully login')
else:
    print('try again')

enter your pwd try again

try again

In [ ]:
# Q6) 
# wap ask the user enter a course name
#    ask the udser enter inst name
# if cname equal to data science and inst name Naresh it
#    print life  is secuse
# otherwise
#   print katam zindagi

In [57]:
cname=input('enter a course name:')
inst_name=input('enter a instute name:')
if cname=='data science'and inst_name=='Nareshit':
      print('you are safe')
else:
    print('katam')

enter a course name: data science
enter a instute name: Nareshit

you are safe

In [58]:
#lower string operation we will

'Data science'.lower()=='data science'.lower()

True

In [59]:
'10'+'20'

'1020'

In [60]:
eval('10')+eval('20')

30

In [61]:
eval(input())

 10

10

**if-elif-else**

- when ever we have one condition two outputs that we choose if-else 

       - if need condition

       - else does not need condition

- when we have two condition 3 outputs the we use if-elif-else 

       - if need condition

       - elif need condition

       - else does not need condition


- if- elif-elif-else

In [ ]:
# wap ask the user enter a number
# if number equal to 1 print "one"
# if number equal to 2 print "two"
# if number equal to 3 print "three"
# otherwise print enter valid number
# Wap ask the user take a nmber
# if number greater than zero print postive 
# if number less than zero print negative
# if number equal to zero print zero
# otherwise print enter a valid number

In [1]:
num=eval(input("Enter a number"))
if num == 1 :
    print('one')
elif num ==2:
    print('two')
elif num==3:
    print('three')
else:
    print('Enter valide number')

Enter a number 10

Enter valide number

In [2]:
num=eval(input("Enter a number"))   # 5
if num>0:   #5>0  True entry ans
    print(f'{num} is a postive number')
elif num<0:  # 5<0 False no entry stop
    print(f'{num} is a negative number')
elif num==0:
    print(f'{num} is a zero')
else:
    print('Enter valide number')

Enter a number 0

0 is a zero

In [3]:
num=eval(input("Enter a number"))   
if num>0:   #5>0  True 
    print(f'{num} is a postive number')
elif num<0:  # 5<0 False 
    print(f'{num} is a negative number')
elif num==0:
    print(f'{num} is a zero')
else:
    print('Enter valide number')

Enter a number 5

5 is a postive number

In [5]:
num=eval(input("Enter a number"))   # 20
if num>0:   # 20>10  Tr entry ans
    print(f'{num} is a greater than 10')
elif num<0:  # 20>5 Tru
    print(f'{num} greater than 5')
elif num==0:  # 20>3
    print(f'{num} greater than 5')
else:
    print('Enter valide number')

Enter a number 20

20 is a greater than 10

In [8]:
num=eval(input('Enter a number:'))   # 20
if num>10:   # 20>10  Tr entry ans
    print(f'{num} is a greater than 10')
elif num>5:  # 20>5 Tru
    print(f'{num} greater than 5')
elif num>3:  # 20>3
    print(f'{num} greater than 5')
else:
    print('enter valid number')

Enter a number: 20

20 is a greater than 10

In [10]:
num=eval(input('Enter number" '))   # 10
if num>8:   # if 10>0 positive
    print(f'{num} is positive')
elif num>5:  # if 10>5 correct
    print(f'{num} is negative')
elif num==0: 
    print(f'{num} is zero')
else:
    print('Enter valid number')

Enter number"  10

10 is positive

In [ ]:
# wap ask the user enter perecentage of marks
# if number greater than or equal to 75 print A grade 
# if marks between 60 to 75 print B Grade
# if marks between 45 to 60 print c Grade
# if marks between 35 to 45 print D Grade
# otherwise fail

In [ ]:
marks=eval(input("enter percentage of marks:")) # 42
if marks>=75: # 42>=75 F
print("A garde")
elif marks>=60 and marks>=70: # 42>=60 and 42>=70 F 60 70
print("B grade")
elif marks<=40 and marks<=45:
print("C grade")
elif marks<=30 and marks<=35:
print("D garde")
else:
print("Failed")

In [3]:
6>2  and   6<10
#T       and

True

In [4]:
2<6<10

True

In [12]:
marks=eval(input('enter perecentage of marks'))
if marks>=75:
    print("A grade")
elif marks>=60:
    print("B gread")
elif marks>=45:
    print("C grade")
elif marks>=35:
    print("D grade")
else:
    print("failed")

enter perecentage of marks 60

B gread

In [ ]:
# Wap ask the user enter age
# if age gretaer than 100 print unlucks person
# if age between 60 to 100 print ss
# if age between 30 to 60 print MA
# if age between 20 to 30 print Youth
# if age between 13 to 20 print teenag
# othersie print kid

In [13]:
age=eval(input("Enter age"))
if age>=100:
    print("unlucks person")
elif age>=60:
    print("SS")
elif age>=30:
    print("MA")
elif age>=20:
    print("Youth")
elif age>=13:
    print("Teenage")
else:
    print("Kid")

Enter age 20

Youth

In [ ]:
# wap ask the user gender
# if gender equal to male
#      if age between 60 to 100 print Man 
#      if age between 30 to 50 print MAM 
#      if age between 20 to 30 print Young man
#      if age between 13 to 20 print boy
#      other print kid
# elif gender equal to female
#      if age between 60 to 100 print woman
#      if age between 30 to 60 print Maw
#      if age between 20 to 30 print Young g
#      if age between 13 to 20 print girl 
#      other print kid
# otherwise:
#    enter a valid gender

In [24]:
gender=input("Enter yours gender")
age=eval(input("Enter your age"))
if gender=='male' or "Male":
    if age>=60:
        print("senior citizen")
    elif age>=30:
        print("man")
    elif age>=20:
        print("yonge Boy")a
    elif age>=13:
        print("Teenag")
    else:
        print("Kid")
elif gender == 'female':
    if age>=60:
        print("Woman")
    elif age>=30:
        print("Middle age woman")
    elif age>=20:
        print("young girl")
    elif age>=13:
        print(" girl")
    else:
        print("kid")

Enter yours gender Male
Enter your age 60

senior citizen

**Assigment_3**

In [ ]:
# Wap ask the user enter number between 1 to 10
# if number eqaul to One
#     take two numbers and addition
# if number eqaul to Two
#     take two numbers and substration
# if number eqaul to Three
#     take two numbers and multiplication
# if number eqaule to Four
#     take two numbers and Division
#else
#enter a valid number

In [70]:
# if number eqaul to One
#     take two numbers and addition

num = int(input("Enter a number between 1 to 10: "))

if num == 1:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    print("Addition =", a + b)

Enter a number between 1 to 10:  1
Enter first number:  9
Enter second number:  8

Addition = 17

In [71]:
# if number eqaul to Two
#     take two numbers and substration

num = int(input("Enter a number between 1 to 10: "))

if num == 2:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    print("Subtraction =", a - b)

Enter a number between 1 to 10:  2
Enter first number:  9
Enter second number:  2

Subtraction = 7

In [13]:
# if number eqaul to Three
#     take two numbers and multiplication

num = int(input("Enter a number between 1 to 10: "))

if num == 3:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    print("Multiplication =", a * b)

Enter a number between 1 to 10:  3
Enter first number:  8
Enter second number:  7

Exponentiation = 56

In [12]:
# if number eqaule to Four
#     take two numbers and Division

num = int(input("Enter a number between 1 to 10: "))

if num == 4:
    a = int(input("Enter first number: "))
    b = int(input("Enter second number: "))
    print("Division =", a / b)

Enter a number between 1 to 10:  4
Enter first number:  8
Enter second number:  2

Exponentiation = 4.0