In [1]:
num=100
num

100

In [2]:
print(num)

100

In [3]:
print(num=100)

TypeError: print() got an unexpected keyword argument 'num'

In [4]:
n1=10
n2=20
print(n1,n2)

10 20

In [5]:
print(n1)
print(n2)

10
20

In [6]:
print('hyderbade',100,100.5,True)

hyderbade 100 100.5 True

In [2]:
print(100 200)  # error

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3952885811.py, line 1)

In [3]:
n1=100
n2=200
n3=n1+n2
print(n3)
# the addition of 100 and 200 is 300.

300

In [7]:
n1=1000
n2=200
n3=n1+n2
print("the addition of 100 and 200 is 300.")
print("the addition of n1 and n2 is n3.")
print("the addition of",n1,"and",n2,"is",n3)

the addition of 100 and 200 is 300.
the addition of n1 and n2 is n3.
the addition of 1000 and 200 is 1200

In [5]:
name='python'
age=10
city="hyderabed"

# my name is python Im 10 years old , come from Hyderabad

print("my name is python Im 10 year old , came from Hyderabad")
print("my name is",name,"Im",age,"years old ,came from",city)

my name is python Im 10 year old , came from Hyderabad
my name is python Im 10 years old ,came from hyderabed

# format method

In [6]:
n1=100
n2=200
n3=n1+n2
print("the addition of 100 and 200 is 300.")
print("the addition of {} and {} is {}.")
#"{},{}".format(10,20,30)
print("the addition of {} and {}.".format(n1,n2,n3))

the addition of 100 and 200 is 300.
the addition of {} and {} is {}.
the addition of 100 and 200.

In [45]:
name='python'
age=10
city="hyderabed"
print("my name is python Im 10 years old ,came from HyderABED")
print("my name is {} Im {} years old ,came from {}".format(name,age,city))

my name is python Im 10 years old ,came from HyderABED
my name is python Im 10 years old ,came from hyderabed

In [ ]:
n1=100
n2=200
n3=n1+n2
print("the addition of 100 and 200 is 300.")
print("the addition of",n1,"and",n2,"is",n3)
print("the addition of {} and {} is {}.".fromat(n1,n2,n3))

## fstring method

In [30]:
n1=100
n2=200
n3=n1+n2
print("the addition of 100 and 200 is 300.")
print("the addition of {} and {} is {}.")
print("the addition of {n1} and {n2} is {n3}.")
print(f"the addition of {n1} and {n2}is {n3}.")

the addition of 100 and 200 is 300.
the addition of {} and {} is {}.
the addition of {n1} and {n2} is {n3}.
the addition of 100 and 200is 300.

In [38]:
name='python'
age=10
city="hyderbade"
print("my name is python Im  10 years old ,came from Hyderabad")
print(f"my name is {name} Im {age} years old ,came from {city}")
print("my name is {} Im {} years  old ,came from {}".format(city,age,name))

my name is python Im  10 years old ,came from Hyderabad
my name is python Im 10 years old ,came from hyderbade
my name is hyderbade Im 10 years  old ,came from python

In [36]:
#7*2=14
7*2
print("7*2=14")
print("7*2=",7*2)
print("7*2={}".format(7*2))
print(f"7*2={7*2}")

7*2=14
7*2= 14
7*2=14
7*2=14

In [ ]:
# wap take 3 number n1,n2,n3 and find the average
# n1
# n2
# n3 
# avg=<formua>
# the average of n1,n2 and n3, is avg

In [39]:
n1=10
n2=20
n3=30
summ=n1+n2+n3
avg=summ/3  #  (n1+n2+n3)/3
print(f"the average of {n1},{n2} and {n3} is:{avg}")
print(f"{n1},{n2} and {n3} avarage is {avg}")

the average of 10,20 and 30 is:20.0
10,20 and 30 avarage is 20.0

**Assignment 1**

In [ ]:
# wap ask the user take two number print subtraction multiplication and division
# wap ask the user take the radius find the area of circle
# pi=3.14
# r=100
# area_of_circle-pitrtr
# wap ask the user take height and breadth find the area of traingle
area_of_traingle=0.5*b*h
# wap ask the user take 3 numbers find the average
# wap ask the user take the bill amount and tip amount calculate total bill
# wap ask the user take the salary, percetage of tax calculate tax amount
# wap ask the user take the value in dollar convert into rupees
1$=80rs
# wap ask the use take weight in kgs convert into pounds
1kg=2.Â 2pounds

In [1]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

print("Subtraction:", a - b)
print("Multiplication:", a * b)
print("Division:", a / b)

Enter first number:  25
Enter second number:  5

Subtraction: 20
Multiplication: 125
Division: 5.0

In [2]:
pi = 3.14
r = float(input("Enter the radius of the circle: "))

area_of_circle = pi * r * r
print("Area of Circle:", area_of_circle)

Enter the radius of the circle:  50

Area of Circle: 7850.0

In [4]:
h = float(input("Enter height of the triangle: "))
b = float(input("Enter breadth of the triangle: "))

area_of_triangle = 0.5 * b * h
print("Area of Triangle:", area_of_triangle)

Enter height of the triangle:  40
Enter breadth of the triangle:  60

Area of Triangle: 1200.0

In [5]:
x = float(input("Enter first number: "))
y = float(input("Enter second number: "))
z = float(input("Enter third number: "))

average = (x + y + z) / 3
print("Average:", average)

Enter first number:  20
Enter second number:  30
Enter third number:  40

Average: 30.0

In [6]:
bill = float(input("Enter bill amount: "))
tip = float(input("Enter tip amount: "))

total = bill + tip
print("Total Bill:", total)

Enter bill amount:  1000
Enter tip amount:  100

Total Bill: 1100.0

In [8]:
salary = float(input("Enter your salary: "))
tax_percent = float(input("Enter tax percentage: "))

tax_amount = (tax_percent / 100) * salary
print("Tax Amount:", tax_amount)

Enter your salary:  50000
Enter tax percentage:  100

Tax Amount: 50000.0

In [10]:
dollars = float(input("Enter amount in dollars: "))
rupees = dollars * 80

print("Amount in Rupees:", rupees)

Enter amount in dollars:  10

Amount in Rupees: 800.0

In [11]:
kgs = float(input("Enter weight in kilograms: "))
pounds = kgs * 2.2

print("Weight in Pounds:", pounds)

Enter weight in kilograms:  10

Weight in Pounds: 22.0