In [62]:
names=['Ramesh','Suresh','Mahesh']
age=[20,22,24]
# 'Ramesh age is 20'
# 'Suresh age is 22'
# 'Mahesh age is 24'

In [ ]:
names[0]age is age[0]
names[1]age is age[1]
names[2]age is age[2]

names[i]age is age[i]

In [63]:
for i in range(len(names)):
    print(f'{names[i]} age is {age[i]}')

Ramesh age is 20
Suresh age is 22
Mahesh age is 24

In [64]:
l1=[10,20,30]
l2=[1,2,3]
# l3=[11,22,33]

l=[]
for i in range(len(l1)):
    l.append(l1[i]+l2[i])
l

[11, 22, 33]

**Zip**

In [65]:
names,age

(['Ramesh', 'Suresh', 'Mahesh'], [20, 22, 24])

In [66]:
zip(names,age)

In [67]:
list(zip(names,age))

[('Ramesh', 20), ('Suresh', 22), ('Mahesh', 24)]

In [68]:
for i in zip(names,age):
    print(i)

('Ramesh', 20)
('Suresh', 22)
('Mahesh', 24)

In [69]:
n1=10,20
n1

(10, 20)

In [70]:
n1,n2=10,20
n2

20

In [71]:
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 22
Mahesh 24

In [72]:
for i,j in zip(names,age):
    print(f'{i} age is {j}')

Ramesh age is 20
Suresh age is 22
Mahesh age is 24

In [20]:
l=[]
for i,j in zip(l1,l2):
    l.append(i+j)
l

[11, 22, 33]

- Zip is mainly used for both lists have same length

- if you want use for differnt lenghth you can use it

In [75]:
l1=[10,20,30]
l2=['A','B']
list(zip(l1,l2))

[(10, 'A'), (20, 'B')]

In [76]:
l1=[10,20,30,40]
l2=[1,2,3]
#l=[11,22,33,40]
l=[]
for i in range(len(l1)):  # 0,1,2,3
    if i<len(l2):
        l.append(l1[i]+l2[i])
    else:
        l.append(l1[i])
# step-1: i=0  if 0<3  True  0 10+1=11
# step-2: i=1  if 1<3  True  1 20+2=22
# step-3: i=2  if 2<3  True  2 30+3 =33
# step-4: i=3  if 3<3  F  else 3 40

In [81]:
l=[10,20,30,40]
for i in range(5):
    if i<len(l):  
        print(i,l[i])
# 0<4  T  
# 1<4
# 2<4
# 3<4
# 4<4  F

0 10
1 20
2 30
3 40

In [82]:
l1=[10,20,30,40]
l2=[1,2,3]

l=[11,22,33,40]

list(zip(l1,l2))

[(10, 1), (20, 2), (30, 3)]

In [83]:
l1=[10,20,30,40]
l2=[1,2,3]
# l=[11,22,33,40]


for i in range(len(l1)):
    if i<len(l2):
        l.append(l1[i]+l2[i])
    else:
        l.append(l1[i])
l

[11, 22, 33, 40, 11, 22, 33, 40]

In [84]:
l=[10,20,30,40]
for i in range(5):
    if i<len(l):
        print(i,l[i])
l

0 10
1 20
2 30
3 40

[10, 20, 30, 40]

In [85]:
from itertolos import zip_longest

ModuleNotFoundError: No module named 'itertolos'

In [86]:
l1=[10,20,30,40]
l2=[1,2,3]
list(zip(l1,l2))

[(10, 1), (20, 2), (30, 3)]

In [92]:
l1=[10,20,30,40]
l2=[1,2,3]
list(zip(l1,l2))

[(10, 1), (20, 2), (30, 3)]

In [93]:
l1=[10,20,30,40]
l2=[1,2,3]
list(zip_longest(l1,l2))

NameError: name 'zip_longest' is not defined

In [94]:
l1=[10,20,30,40]
l2=[1,2,3]
new=list(zip_longest(l1,l2,fillvalue=0))
out=[i+j for i,j in new]
out

NameError: name 'zip_longest' is not defined

- Zip means combine the two element which are have some relation

- this gave in idea about dictionary

- Ramesh is related with 20

- Suresh is related  with 22

- these related values we can form a dictionary

- dictionary is a key-value pair

- represent with{}

- {key:value}

- assume remesh is key and 20 is value :{remeshe:20}

In [ ]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24} # w
dict2={20:'Ramesh',22:'Suresh',24:'Mahesh'} # w
dict3={'20':'Ramesh','22':'Suresh','24':'Mahesh'} # w
dict4={20:20,22:22,24:24}
dict5={'Ramesh':20,'Ramesh':22} 
dict6={'Ramesh':20,'Ramesh':20}
dict7={'Ramesh':20,'Suresh':20} 
dict8={'Ramesh':20,
       20:'Suresh',
       'Sathish':True,
       False:True}
dict9={'Names':['Ramesh','Suresh','Mahesh']}
dict10={['Ramesh','Suresh','Mahesh']:'Names'}  
dict11={'Names':('Ramesh','Suresh','Mahesh')}
dict12={('Ramesh','Suresh','Mahesh'):'Names'} 
dict13={}
dict14={{'Ramesh':20}:21}
dict14

In [95]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
dict1

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [96]:
dict2={20:'Remesh',22:'Suresh',24:'Mahesh'}
dict2

{20: 'Remesh', 22: 'Suresh', 24: 'Mahesh'}

In [97]:
dict3={'20':'Ramesh','22':'Suresh','24':'Mahesh'}
dict3

{'20': 'Ramesh', '22': 'Suresh', '24': 'Mahesh'}

In [98]:
dict4={20:20,22:22,24:24}
dict4

{20: 20, 22: 22, 24: 24}

In [49]:
dict5={'Ramesh':20,'Remesh':22}
dict5
# same key different values then chooswe:latest value

{'Ramesh': 20, 'Remesh': 22}

In [50]:
dict6={'Remesh':20,'Remesh':20}
dict6    # Duplicates are not allowed

{'Remesh': 20}

In [51]:
dict7={'Ramesh':20,'Suresh':20}
dict7
# keys can not be duplicate
# values can be dupicated

{'Ramesh': 20, 'Suresh': 20}

**KEYS ARE IMPORTANT**

In [99]:
dict8={'Ramesh':20,
       20:'Suresh',
       'Sathish':True,
       False:True}
dict8 
# Dictionary is a heterogeneous

{'Ramesh': 20, 20: 'Suresh', 'Sathish': True, False: True}

In [101]:
dict9={'Names':['Ramesh','Suresh','Mahesh']}
dict9

{'Names': ['Ramesh', 'Suresh', 'Mahesh']}

In [102]:
dict10={['Ramesh','Suresh','Mahesh']:'Names'}
dict10

TypeError: unhashable type: 'list'

In [103]:
dict11={'Names':('Ramesh','Suresh','Mahesh')}
dict11

{'Names': ('Ramesh', 'Suresh', 'Mahesh')}

In [104]:
dict12={('Ramesh','Suresh','Mahesh'):'Names'} 
dict12

{('Ramesh', 'Suresh', 'Mahesh'): 'Names'}

In [107]:
dict13={}
dict13

{}

In [108]:
dict14={{'Ramesh':20}:21}
dict14

TypeError: unhashable type: 'dict'

In [ ]:
{['Ramesh','Suresh','Mahesh']:'Names'}
{('Ramesh','Suresh','Mahesh'):'Names'}

- keys are important for us

- changing the keys are not allowd

- lists are multable so it is failed

- tuple is immutable so it works

In [ ]:
# ''  []  () {}

- we understood how dictinaries are working

- in built functions

- max min len sum sorted reversed

In [109]:
len(dict1),len(dict2),len(dict3)

(3, 3, 3)

In [110]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
max(dict1),min(dict1),sorted(dict1)
# keys are important
# only consider keys
# ascii values R  S  M
# R  S   M    Suresh max
# 20 22 24   Mahesh max

('Suresh', 'Mahesh', ['Mahesh', 'Ramesh', 'Suresh'])

In [111]:
dict2={20:'Ramesh',22:'Suresh',24:'Mahesh'} # w
max(dict2),min(dict2),sorted(dict2)

(24, 20, [20, 22, 24])

In [112]:
dict3={'20':'Ramesh','22':'Suresh','24':'Mahesh'}
max(dict3),min(dict3)

('24', '20')

In [7]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
max(dict1),min(dict1),sorted(dict1)

('Suresh', 'Mahesh', ['Mahesh', 'Ramesh', 'Suresh'])

In [113]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
list(reversed(dict1))

['Mahesh', 'Suresh', 'Ramesh']

In [114]:
dict2={20:'Remesh',22:'Suresh',24:'Mahesh'}
sum(dict2) # error  
# sum([20,22,24])   # error

66

In [12]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
dict2={20:'Remesh',22:'Suresh',24:'Mahesh'}
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [115]:
dict2={20:'Ramesh',22:'Suresh',24:'Mahesh'}
sum(dict2)  # sum([20,22,24])

66

In [116]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
dict2={20:'Ramesh',22:'Suresh',24:'Mahesh'}
dict1+dict2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**index**

In [15]:
s='python'
s[0]

'p'

In [14]:
l=[10,20,30]
l[0]

10

In [16]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
dict1[0]

KeyError: 0

- we can not extract elements using indexing

In [ ]:
'Ramesh':20    # key:value
'Suresh':22
'mahesh':24

In [117]:
'Ramesh'

'Ramesh'

In [118]:
20

20

In [119]:
'Ramesh':20

SyntaxError: illegal target for annotation (3826597768.py, line 1)

In [21]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
# we can extract only value by using key
dict1['Ramesh']
dict1['Suresh']
dict1['Mahesh']

#  dict1[i]

24

In [27]:
dict1={'Ramesh':20,'Suresh':22,'Mahesh':24}
for i in dict1:
   # print(i,dict1[i])
    print(f'the {i} age is {dict1[i]}')

the Ramesh age is 20
the Suresh age is 22
the Mahesh age is 24

**Empty string - list - dictionary analysis**

In [28]:
s=''
l=[]
d={}

In [29]:
s=s+'p'
s

'p'

In [120]:
d={}
d['Ramesh']=20
d['Suresh']=22
d['Suresh']=24
d

{'Ramesh': 20, 'Suresh': 24}

In [121]:
d={}
d['Ramesh']=20
d['Suresh']=22
d['Mahesh']=24
d

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [31]:
d={}
d['Remesh']=20
d['Suresh']=22
d['Suresh']=24
d

{'Remesh': 20, 'Suresh': 24}

In [32]:
d={}
d['Remesh']=20
d['Suresh']=22
d['Mahesh']=24
d

# d[i]=j

{'Remesh': 20, 'Suresh': 22, 'Mahesh': 24}

**list to dictionary conversion**

In [38]:
names=['Ramesh','Suresh','Mahesh']
age=[20,22,24]
d={}
for i,j in zip(names,age):
    d[i]=j
d

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [40]:
numbers=[20,21,22]
#d={20:'even',21:'odd',22:even}
d={}
for i in numbers:
    if i%2==0:
        d[i]='even'
    else:
        d[i]='odd'
d

{20: 'even', 21: 'odd', 22: 'even'}

In [43]:
names=['Ramesh','Suresh','Mahesh']
age=[20,22,24]
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [53]:
numbers=[20,21,22]
# [d[i]='even' if i%2==0 else d[i]='odd' for i in numbers]
{i:'even' if i%2==0 else 'odd' for i in numbers}

{20: 'even', 21: 'odd', 22: 'even'}

**Dictionary Comprehension**

In [ ]:
for i,j in zip(names,age):
    d[i]=j
[d[i]=j for i,j in zip(names,age)]

for i in numbers:
    if i%2==0:
        d[i]='even'
    else:
        d[i]='odd'

[d[i]='even' if i%2==0 else d[i]='odd' for i in numbers]

In [123]:
names=['Ramesh','Suresh','Mahesh']
age=[20,22,24]
{i:j for i,j in zip(names,age)}

{'Ramesh': 20, 'Suresh': 22, 'Mahesh': 24}

In [124]:
numbers=[20,21,22]
d={}
#[d[i]='even' if i%2==0 else d[i]='odd' for i in numbers]
{i:'even' if i%2==0 else 'odd' for i in numbers}

{20: 'even', 21: 'odd', 22: 'even'}

**multi index**

In [51]:
d={'Fruites':['Apple','Banana','Cherry']}
d['Fruites'][2]

'Cherry'

In [54]:
d={'Frutes':{'Apple':['Kashmir']}}
d['Frutes']['Apple'][0]

'Kashmir'

In [58]:
d={'Frutes':[{'Apple':['green apple']}]}
d['Frutes'][0]['Apple']

['green apple']

In [125]:
d={'Fruites':[{'Apple':[{'kashmir':[{'India':['NareshIT']}]}]}]}
len(d)

1

In [61]:
d={'Frutes':[{'Apple':[{'Kashmir':[{'India':['NareshIT']}]}]}]}
d['Frutes'][0]['Apple'][0]['Kashmir'][0]['India'][0]

'NareshIT'

In [62]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',     # dic clear
'copy',     # copy
'fromkeys',   # dictionary
'get',     # access
'items',   # keys and values
'keys',   # only keys
'pop',     # delete
'popitem',   # dlete
'setdefault',   # default values
'update',    # l1.extend(l2)
'values'   # only valuse